.btn {
  font-size: 20px;
  line-height: 1.4;
  padding: 20px 35px;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-s);
  color: var(--color-white);
  border: var(--border-width-s) solid transparent;
  user-select: none;
  
  @include hover {
    background-color: var(--color-green);
    border: var(--border);
    color: var(--color-black);
  }
  
  &:active {
    scale: 1.02;
  }
  
  &--transparent {
    background-color: transparent;
    border: var(--border);
  }
}