.case-studies {
  .section__header {
    padding-right: var(--container-padding-x);
  }
  
  &__cards {
    background-color: var(--color-dark);
    border-radius: var(--border-radius-l);
    padding: 70px 60px 93px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 64px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    
    @include tablet {
      padding: 0;
      background-color: transparent;
      display: grid;
      grid-template-columns: repeat(3, 350px);
      border-radius: 0;
      padding-inline: 70px;
    }
  }
  
  
  &__card {
    display: grid;
    row-gap: 20px;
    position: relative;
    
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      height: 186px;
      width: 1px;
      background-color: var(--color-white);
      right: -10%;
      
      
      @include tablet {
        @include hide;
      }
    }
    
    &-wrap {
      max-width: 286px;
    }
    
    &-desc {
      color: var(--color-white);
    }
    
    &-link {
      color: var(--color-green);
      display: flex;
      align-items: center;
      column-gap: 15px;
      
      &::after {
        @include abs-cover;
        
        content: '';
      }
      
      @include hover {
        color: var(--color-white);
        
        svg * {
          fill: currentColor;
        }
      }
    }
    
    @include tablet {
      padding: 42px 50px;
      max-width: 100%;
      border-radius: var(--border-radius-l);
      background-color: var(--color-dark);
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
  }
}
