.contact-us {
  :focus-visible {
    @include focus-visible;
    
    outline: 2px dashed var(--color-black);
  }
  
  .section__desc {
    max-width: 323px;
  }
  
  &__inner {
    display: flex;
    background-color: var(--color-grey);
    border-radius: var(--border-radius-l);
    overflow: hidden;
    position: relative;
    align-items: center;
    
    @include tablet {
      justify-content: center;
      overflow: visible;
    }
    
    @include mobile {
      background-color: transparent;
      overflow: visible;
    }
  }
  
  &__form {
    background-color: var(--color-grey);
    display: flex;
    flex-direction: column;
    padding: 60px 0 80px 100px;
    border-radius: var(--border-radius-l);
    max-width: 656px;
    width: 100%;
    
    &-wrap {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      
      @include mobile {
        border-radius: var(--border-radius-l);
        background-color: var(--color-grey);
        padding: 40px 30px;
        margin-bottom: 30px;
      }
    }
    
    &-check {
      display: inline-flex;
      position: relative;
      
      &::before,
      &::after {
        content: '';
        display: inline-block;
        border-radius: 50%;
      }
      
      &::before {
        @include square(28px);
        
        left: 0;
        bottom: 0;
        border: var(--border);
        background-color: var(--color-white);
      }
      
      &::after {
        @include square(16px);
        @include abs-center;
        
        background-color: var(--color-green);
        opacity: 0;
        transition-duration: var(--transition-duration-longer);
      }
    }
    
    &-input--radio:checked + .contact-us__form-check::after {
      opacity: 1;
    }
    
    &-top {
      display: flex;
      column-gap: 35px;
    }
    
    &-body {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      margin-bottom: 40px;
      
      @include mobile {
        margin: 0;
      }
    }
    
    &-label {
      @include fluid-text(16, 14);
      
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 5px;
      
      &--radio {
        position: relative;
        flex-direction: row;
        column-gap: 14px;
        align-items: center;
      }
      
      &-text {
        &--required {
          &::after {
            content: '*';
            display: inline-flex;
            align-items: start;
          }
        }
      }
    }
    
    &-input {
      &[type='radio'] {
        display: none;
      }
    }
    
    &-input,
    &-textarea {
      border-radius: var(--border-radius-s);
      padding: 18px fluid(30, 20);
      border: var(--border);
      width: 100%;
    }
    
    @include tablet {
      justify-content: center;
      padding: 40px 50px;
    }
    
    @include mobile {
      background-color: transparent;
      padding: 0;
    }
  }
  
  &__image {
    position: absolute;
    right: 0;
    translate: 50%;
    
    @include tablet {
      display: none;
    }
  }
}
