.footer {
  &__inner {
    background: var(--dark);
    border-radius: 45px 45px 0 0;
    padding: fluid(55, 50) fluid(60, 20) fluid(50, 30);
    
    @include tablet {
      border-radius: 0;
    }
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    
    @include tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 37px;
    }
  }
  
  &__logo {
    color: #fff;
  }
  
  &__menu {
    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: fluid(40, 15);
      margin: 0;
      padding: 0;
      
      @include tablet {
        flex-direction: column;
      }
    }
    
    &-link {
      color: var(--color-white);
    }
    
    &-list &-link {
      text-decoration: underline;
      @include hover {
        text-decoration: none;
      }
      
      @include tablet {
        text-decoration: none;
      }
    }
  }
  
  &__socials {
    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      column-gap: 20px;
      margin: 0;
      padding: 0;
    }
    
    &-link {
      color: white;
      
      svg path {
        fill: var(--color-black);
      }
    }
    
    &-item:nth-child(2) {
      svg path {
        fill: var(--color-white);
      }
      
      @include hover {
        svg path {
          fill: currentColor;
        }
      }
    }
  }
  
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    column-gap: 16px;
    
    @include tablet {
      flex-direction: column;
      text-align: center;
      row-gap: 37px;
    }
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    
    @include tablet {
      align-items: center;
    }
    
    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      list-style: none;
      row-gap: 20px;
      max-width: 332px;
      
      @include tablet {
        align-items: center;
      }
    }
    
    &-item {
      display: flex;
      align-items: center;
      color: var(--color-white);
    }
    
    &-value {
      margin: 0;
    }
  }
  
  &__title {
    background: var(--green);
    border-radius: 7px;
    margin: 0;
    margin-bottom: 27px;
    padding-inline: 7px;
  }
  
  &__form {
    display: flex;
    padding: fluid(58, 30) fluid(40, 30);
    background: #292a32;
    border-radius: 14px;
    gap: 20px;
    
    @include tablet {
      flex-direction: column;
    }
    
    @include mobile {
      width: 100%;
    }
    
    &-input {
      padding: 22px 35px;
      border: 1px solid var(--color-white);
      background-color: transparent;
      border-radius: 14px;
      color: var(--color-white);
      
      &::placeholder {
        color: var(--color-white);
      }
      
      @include mobile {
        width: 100%;
      }
    }
    
    & &-btn {
      padding: 20px 35px;
      background: var(--green);
      border-radius: 14px;
      cursor: pointer;
      border: none;
      border: 1px solid transparent;
      color: var(--color-black);
      
      @include hover {
        background-color: transparent;
        border: 1px solid var(--color-white);
        color: var(--color-white);
      }
      
      &:active {
        scale: 1.02;
      }
    }
  }
  
  &__extra {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--color-white);
    gap: fluid(40, 15);
    border-top: 1px solid var(--color-white);
    
    @include tablet {
      flex-direction: column;
    }
    
    & &-link {
      text-decoration: underline;
      
      @include tablet {
        text-decoration: none;
      }
    }
    
    &-link {
    }
  }
  
  &__copyrigth {
    margin: 0;
  }
}
