.footer {
  &__inner {
    background: var(--color-dark);
    border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
    padding: fluid(55, 50) fluid(60, 20) fluid(50, 30);
    
    @include tablet {
      border-radius: 0;
    }
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    
    @include tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 37px;
    }
  }
  
  &__logo {
    color: #fff;
  }
  
  &__menu {
    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: fluid(40, 15);
      
      @include tablet {
        flex-direction: column;
      }
    }
    
    &-link {
      position: relative;
      color: var(--color-white);
      
      &::before {
        @include abs-x;
        
        content: '';
        background-color: var(--color-white);
        height: 1px;
        width: 100%;
        bottom: 4px;
        transition-duration: var(--transition-duration-longer);
      }
      
      @include hover {
        &::before {
          width: 0;
        }
      }
    }
  }
  
  &__socials {
    color: white;
    
    &-list {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
    
    &-link {
      svg path {
        fill: var(--color-black);
      }
    }
    
    &-item:nth-child(2) {
      svg path {
        fill: var(--color-white);
      }
      
      @include hover {
        svg path {
          fill: currentColor;
        }
      }
    }
  }
  
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    column-gap: 16px;
    
    @include tablet {
      flex-direction: column;
      text-align: center;
      row-gap: 37px;
    }
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    
    @include tablet {
      align-items: center;
    }
    
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      max-width: 332px;
      
      @include tablet {
        align-items: center;
      }
    }
    
    &-item {
      display: flex;
      align-items: center;
      color: var(--color-white);
    }
  }
  
  &__title {
    background: var(--color-green);
    border-radius: var(--border-radius-xxs);
    margin-bottom: 27px;
    padding-inline: 7px;
  }
  
  &__form {
    display: flex;
    padding: fluid(58, 30) fluid(40, 30);
    background: #292a32;
    border-radius: var(--border-radius-s);
    gap: 20px;
    
    @include tablet {
      flex-direction: column;
    }
    
    @include mobile {
      width: 100%;
    }
    
    &-input {
      padding: 22px 35px;
      border: var(--border-width-s) solid var(--color-white);
      background-color: transparent;
      border-radius: var(--border-radius-s);
      color: var(--color-white);
      
      &::placeholder {
        color: inherit;
      }
      
      @include mobile {
        width: 100%;
      }
    }
    
    &-btn {
      background: var(--color-green);
      border-radius: var(--border-radius-s);
      color: var(--color-black);
      
      @include hover {
        background-color: transparent;
        border: var(--border-width-s) solid var(--color-white);
        color: var(--color-white);
      }
    }
  }
  
  &__extra {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--color-white);
    gap: fluid(40, 15);
    border-top: 1px solid var(--color-white);
    
    @include tablet {
      flex-direction: column;
    }
    
    &-link {
      position: relative;
      color: var(--color-white);
      
      &::before {
        @include abs-x;
        
        content: '';
        background-color: var(--color-white);
        height: 1px;
        width: 100%;
        bottom: 4px;
        transition-duration: var(--transition-duration-longer);
      }
      
      @include hover {
        &::before {
          width: 0;
        }
      }
    }
  }
}
