.header {
	:focus-visible {
		@include focus-visible;
		outline: 2px dashed var(--color-black);
	}
	
	padding-top: fluid(60, 30);

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: fluid(219, 144);

		svg {
			max-width: 100%;
		}
	}

	&__body {
		display: flex;
		align-items: center;
		column-gap: fluid(40, 10);
	}

	&__dialog {
		border: none;
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: var(--grey);
		padding-inline: 0px;

		@include tablet-above {
			display: contents;
		}
	}

	&__menu {
		@include tablet {
			display: flex;
			justify-content: center;
			height: 100%;
			overflow-y: auto;
		}

		&-list {
			display: flex;
			list-style: none;
			align-items: center;
			gap: fluid(40, 10);
			margin: 0;
			padding: 0;

			@include tablet {
				flex-direction: column;
				margin-block: auto;
			}
		}

		&-link {
			font-size: fluid(20, 16);
			line-height: 1.4;
		}
	}

	&__action {
		color: var(--color-black);

		@include tablet {
			display: none;
		}
	}

	&__burger-menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 24px;
		padding: 0;
		margin: 0;
		border: none;
		background-color: transparent;
		gap: 8px;
		height: 100%;
		position: relative;
		cursor: pointer;

		span {
			width: 24px;
			height: 2px;
			display: block;
			background-color: var(--color-black);
			border-radius: 20px;
			transition-duration: var(--transition-duration);
		}

		&.is-active {
			span:first-child {
				rotate: 45deg;
				transform-origin: 0;
				translate: 0px 3px;
			}

			span:nth-child(2) {
				opacity: 0;
			}

			span:last-child {
				rotate: -45deg;
				transform-origin: 0;
			}
		}

		@include tablet-above {
			display: none;
		}
	}
}
