.header {
  :focus-visible {
    @include focus-visible;
    
    outline: 2px dashed var(--color-black);
  }
  
  padding-top: fluid(60, 30);
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__body {
    display: flex;
    align-items: center;
    column-gap: fluid(40, 10);
  }
  
  &__dialog {
    border: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-grey);
    padding-inline: 0;
    
    @include tablet-above {
      display: contents;
    }
  }
  
  &__menu {
    @include tablet {
      display: flex;
      justify-content: center;
      height: 100%;
      overflow-y: auto;
    }
    
    &-item {
      position: relative;
      @include tablet {
        
        &::before {
          @include abs-x;
          
          content: '';
          background-color: var(--color-dark);
          height: 2px;
          border-radius: var(--border-radius-l);
          width: 100%;
          bottom: 0;
          transition-duration: var(--transition-duration-longer);
        }
        
        @include hover {
          &::before {
            width: 0;
          }
        }
      }
    }
    
    &-list {
      display: flex;
      align-items: center;
      gap: fluid(40, 10);
      
      @include tablet {
        @include fluid-text(20, 18);
        
        flex-direction: column;
        margin-block: auto;
        gap: fluid(40, 20);
      }
    }
    
    &-link {
      @include fluid-text(20, 16);
      
      line-height: 1.4;
      
      @include tablet {
        transition-duration: var(--transition-duration);
        &::before {
          @include abs-cover;
          
          content: '';
        }
      }
      
      @include hover {
        text-shadow: 0px 0px 2px var(--color-black);
      }
      
      &:active {
        color: var(--color-dark);
      }
    }
  }
  
  &__action {
    color: var(--color-black);
    
    @include tablet {
      display: none;
    }
  }
  
  &__burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    gap: 8px;
    height: 100%;
    position: relative;
    
    span {
      width: 24px;
      height: 2px;
      display: block;
      background-color: var(--color-black);
      border-radius: 20px;
      transition-duration: var(--transition-duration);
    }
    
    &.is-active {
      span:first-child {
        rotate: 45deg;
        transform-origin: 0;
        translate: 3px 2px;
      }
      
      span:nth-child(2) {
        opacity: 0;
      }
      
      span:last-child {
        rotate: -45deg;
        translate: -1px -9px;
      }
    }
    
    @include tablet-above {
      display: none;
    }
  }
}
