.our-team {
  :focus-visible {
    @include focus-visible;
    
    outline: 2px dashed var(--color-black);
  }
  
  .section__desc {
    max-width: 473px;
  }
  
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 40px;
    
    @include tablet {
      align-items: stretch;
    }
  }
  
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 40px;
  }
  
  &__card {
    position: relative;
    padding: 50px 34px;
    border: var(--border-width-s) solid var(--color-dark);
    border-radius: var(--border-radius-l);
    
    &-header {
      display: flex;
      margin-bottom: 28px;
      column-gap: 20px;
      
      @include tablet-s {
        flex-wrap: wrap;
        row-gap: 16px;
      }
    }
    
    &-label {
      max-width: 195px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    
    &-link {
      position: absolute;
      right: 35px;
    }
    
    &-content {
      padding-top: 28px;
      border-top: var(--border);
    }
  }
  
  &__btn {
    padding-inline: 75px;
    
    @include tablet {
      text-align: center;
      justify-content: center;
      padding-inline: 0;
    }
  }
}
