.our-working-process {
  :focus-visible {
    @include focus-visible;
    
    outline: 2px dashed var(--color-black);
  }
  
  .section__desc {
    max-width: 292px;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    counter-reset: custom-counter;
    row-gap: 30px;
  }
  
  &__item {
    counter-increment: custom-counter;
    display: flex;
    align-items: center;
    background-color: var(--color-grey);
    border-radius: var(--border-radius-l);
    padding: 41px 60px;
    box-shadow: 0 5px 0 0 var(--color-dark);
    border: var(--border-width-s) solid var(--color-dark);
    
    @include tablet-s {
      padding: 30px;
    }
  }
  
  &__item:has(.accordion__details[open]) {
    background-color: var(--color-green);
  }
}
