.section {
	padding-block: var(--section-padding-y);

	&__header {
		display: flex;
		column-gap: 40px;
		align-items: center;
		margin-bottom: fluid(80, 40);

		@include tablet {
			flex-direction: column;
			row-gap: 30px;
		}
	}

	&__title {
		border-radius: 7px;
		padding-inline: 7px;
		background: var(--green);
		margin: 0;
	}

	&__desc {
		margin: 0;
		max-width: 580px;
	}

	@include tablet {
		text-align: center;
	}
}
