.services {
  :focus-visible {
    @include focus-visible;
    
    outline: 2px dashed var(--color-black);
  }
  
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fluid(40, 30);
    margin-bottom: 100px;
    
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  
  &__card {
    box-shadow: 0 5px 0 0 var(--color-dark);
    background-color: var(--color-grey);
    border-radius: var(--border-radius-l);
    border: var(--border-width-s) solid var(--color-dark);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
    min-height: 310px;
    row-gap: 16px;
    
    &-title {
      display: flex;
      flex-direction: column;
      align-items: start;
      
      .mark + .mark::before {
        content: ' ';
      }
    }
    
    &-link {
      font-size: 20px;
      display: inline-flex;
      align-items: center;
      column-gap: 15px;
      margin-top: auto;
      
      &::before {
        @include square(41px);
        
        content: '';
        display: inline-block;
        background: url('../../assets/icon/arrow.svg') center/cover no-repeat;
        border-radius: 50%;
      }
      
      @include hover {
        text-shadow: 0 0 4px var(--color-black);
      }
      
      @include tablet {
        font-size: 0;
      }
    }
    
    &-image {
      object-fit: contain;
      width: fluid(210, 165);
      
      @include tablet {
        margin-top: auto;
      }
    }
    
    &--green {
      background-color: var(--color-green);
      
      .services__card-link {
        @include hover {
          color: var(--color-grey);
        }
      }
    }
    
    &--black {
      :focus-visible {
        @include focus-visible;
        
        outline: 2px dashed var(--color-white);
      }
      
      background-color: var(--color-black);
      
      .services__card-link {
        color: var(--color-white);
        
        &::before {
          filter: grayscale(1) invert(1);
        }
        
        @include hover {
          color: var(--color-green);
        }
      }
    }
    
    @include tablet {
      max-width: 100%;
    }
  }
  
  &__label {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  
  &__cta {
    padding-bottom: 23.5px;
    
    &-inner {
      display: flex;
      align-items: center;
      background-color: var(--color-grey);
      border-radius: var(--border-radius-l);
      justify-content: space-between;
    }
    
    &-content {
      padding: 60px 0 60px 60px;
      max-width: 530px;
      row-gap: 26px;
      display: grid;
      justify-items: start;
      
      @include tablet-s {
        justify-items: stretch;
        padding: 50px;
      }
    }
    
    &-image {
      margin-block: -15px;
      
      @include tablet-s {
        display: none;
      }
    }
  }
}
