html {
  box-sizing: border-box;
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  
  &.is-lock {
    overflow: hidden;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  @include fluid-text(18, 16);
  
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-black);
  background-color: var(--color-white);
  min-height: 100%;
  line-height: 1.5;
}

main {
  flex-grow: 1;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-black);
  font-weight: 500;
}

h1,
.h1 {
  @include fluid-text(60, 43);
}

h2,
.h2 {
  @include fluid-text(40, 36);
}

h3,
.h3 {
  @include fluid-text(30, 26);
}

h4,
.h4 {
  @include fluid-text(20, 18);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  
  @include hover {
    color: var(--green);
  }
  
  &[class] {
    text-decoration: none;
  }
  
  &:where([class]) {
    display: inline-flex;
  }
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
}

:focus-visible {
  @include focus-visible;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:where([stroke]:not([stroke='none'], [stroke^='url'])) {
  stroke: currentColor;
}

:where([fill]:not([fill='none'], [fill^='url'])) {
  fill: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
