:root {
	--color-white: #ffffff;
	--color-black: #000000;

	--green: #b9ff66;
	--grey: #f3f3f3;
	--dark: #191a23;

	--border: var(--border-width-s) solid var(--dark);

	--border-width-l: 4px;
	--border-width-m: 3px;
	--border-width-s: 1px;

	--border-radius-l: 18px;
	--border-radius-m: 16px;
	--border-radius-s: 14px;
	--border-radius-xs: 10px;
	--border-radius-xxs: 8px;
	--border-radius-xxxs: 5px;

	--font-family-base: 'space-grotesk', sans-serif;

	--container-width: #{$container-desktop-width}px;
	--container-padding-x: 16px;

	--section-padding-y: #{fluid(140, 60)};

	--transition-duration: 0.2s;
	--transition-duration-longer: 0.4s;
}
